<?xml version='1.0' standalone='yes'?>
<menu>
 <tab>
  <id>home</id>
  <title>Home</title>
  <url>?dashboard=home</url>
 </tab>
 <tab>
  <id>worktable-explorer</id>
  <title>Worktable Explorer</title>
  <url>?dashboard=worktable-explorer</url>
 </tab>
 <tab>
  <id>endpoints</id>
  <title>Endpoints</title>
  <url>?dashboard=endpoints</url>
 </tab>
 <tab>
  <id>mcp</id>
  <title>MCP Checker</title>
  <url>?dashboard=mcp</url>
 </tab>
</menu>
