# Source Worktable instance
WORKTABLE_BASE_URL=https://source.example.com/worktable
WORKTABLE_USERNAME=user
WORKTABLE_PASSWORD=password

# Destination Worktable instance
WORKTABLE_DEST_URL=http://localhost/worktable
WORKTABLE_DEST_USERNAME=user
WORKTABLE_DEST_PASSWORD=password
